<launch>

  <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 1 map odom 100" />
   
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0 0 0 0 0 0 1 base_link laser 100" />

  <include file="$(find rplidar_ros)/launch/rplidar.launch" /> 

  <node name="rviz" pkg="rviz" type="rviz"/>
  
</launch>